---
import Layout from "../layouts/Layout.astro"; // Importa el componente Layout desde la ruta especificada
---
<Layout title="Cuenta">
    <div class="account-container">
        <h1>Mi cuenta</h1>
        <form>
            <label for="email">Email</label>
            <input
                type="email"
                id="email"
                name="email"
                value="charliedoe@gmail.com"
                required
            />

            <label for="nombre">Nombre</label>
            <input
                type="text"
                id="nombre"
                name="nombre"
                value="Charlie Doe"
                required
            />

        

            <div class="checkbox-container">
                <input type="checkbox" id="marketing" name="marketing" />
                <label for="marketing">
                    Doy mi consentimiento para mis datos.
                </label>
            </div>

            <div class="button-container">
                <button type="submit">Guardar Cambios</button>
                <button type="button">Cancelar</button>
            </div>
        </form>
    </div>
</Layout>

<style>
    .account-container {
        background-color: #0b6975;
        padding: 25px;
        border-radius: 8px;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 80px;
    }

    h1 {
        color: #333;
        margin-bottom: 15px;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }

    h3 {
        color: #333;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: bold;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-bottom: 8px;
        color: #333;
        font-weight: bold;
    }

    input[type="email"],
    input[type="text"] {
        padding: 12px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .password-section {
        margin-bottom: 20px;
        text-align: center;
    }

    .password-section a {
        color: #0056b3;
        text-decoration: none;
        font-weight: bold;
    }

    .password-section a:hover {
        text-decoration: underline;
    }

    .checkbox-container {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    input[type="checkbox"] {
        margin-right: 10px;
    }

    .button-container {
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button[type="submit"] {
        background-color: #3498db;
        color: white;
    }

    button[type="button"] {
        background-color: #e0e0e0;
        color: #333;
    }

    button:hover {
        filter: brightness(0.9);
    }
</style>