---
import Layout from "../layouts/Layout.astro"; // Importa el componente Layout desde la ruta especificada
---

<Layout title="Plataforma de Gestión de Datos">
    <!-- Usamos el componente Layout con el título "Poli - Plataforma de Registro" -->

    <div class="container">
        <!-- Contenedor principal para el contenido de la página -->
        <div class="logo">Data Health</div>
        <!-- Elemento para mostrar el logo de la plataforma -->
        <div class="login-link">
            <a href="/auth/singup">Recepcionista</a>
            <a href="/auth/login">Profesional</a>
            <!-- Enlace que redirige a la página de inicio de sesión -->
        </div>
    </div>
</Layout>

<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }
    .logo {
        font-size: 48px;
        font-weight: bold;
        color: rgba(10, 128, 108, 0.644);
        border: 2px solid rgba(10, 128, 108, 0.644);
        padding: 10px 20px;
        display: inline-block;
        margin-bottom: 20px;
    }

    input[type="email"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
    }
    button {
        background-color: #0b6975;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        width: 100%;
    }
    .login-link {
        margin-top: 20px;
    }
    .login-link a {
        width: auto;
        color: rgba(245, 245, 245, 0.979);
        text-decoration: none;
        display: inline-block;
        padding-top: 700px;
        padding: 9px; /* Espaciado interior */
        background-color: #0b6975; /* Color de fondo de la caja */
        border-radius: 10px; /* Bordes redondeados */
    }
</style>
