---
import Layout from "../layouts/Layout.astro"; // Importa el componente Layout desde la ruta especificada
---

<Layout title="Plataforma de Gestión de Datos">

    <div class="container">
        <div class="logo">Data Health</div>
        <form class="form_ingresar" id="documentoForm">
            <input type="text" id="documento" placeholder="Ingresa tu número de documento" required />
            <button type="submit">Ingresar</button>
        </form>
        <div id="mensaje" class="mensaje"></div> <!-- Aquí se mostrarán los mensajes -->
    </div>

    <script>
        document.getElementById('documentoForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Evitar que el formulario se envíe de forma convencional
            
            const documentoInput = document.getElementById('documento') as HTMLInputElement;
            const documento = documentoInput.value.trim(); // Eliminar espacios en blanco
            const mensajeDiv = document.getElementById('mensaje');

            // Verificar el primer carácter del número de documento
            if (documento.startsWith('D')) {
                window.location.href = 'auth/login'; // Redirigir a la página del doctor
            } else if (documento.startsWith('R')) {
                window.location.href = 'auth/singup'; // Redirigir a la página de recepcionista
            } else {
                mensajeDiv.textContent = 'Número de documento no válido. Debe comenzar con "D" o "R".';
                mensajeDiv.style.color = 'red'; // Cambiar el color del mensaje
            }
        });
    </script>
</Layout>

<style>
    .form_ingresar input[type="text"] {
        width: 400px; 
        text-align: center;
        height: 40px;
        border: 2px solid;
        border-color: #0b6975;
        margin: 40px;
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }
    .logo {
        font-size: 48px;
        font-weight: bold;
        color: rgba(10, 128, 108, 0.644);
        border: 2px solid rgba(10, 128, 108, 0.644);
        padding: 10px 20px;
        display: inline-block;
        margin-bottom: 40px;
        margin: 80px;
    }
    .mensaje {
        margin-top: 20px;
        font-size: 18px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: rgba(255, 0, 0, 0.384); /* Cambia el color según tu preferencia */
    }
    button {
        background-color: #0b6975;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        width: 400px;
    }
</style>
